

<h1>Share your Recipes</h1>
<form style="display: flex; flex-direction: column" enctype="multipart/form-data" method="POST" action="<% if (update) { %>
  /recipes/<%- recipe._id %>/update
 <% } else { %>
  /recipes/new
<% } %>">
<label> Name : <input type="text" name="name" value="<% if (update) { %><%= recipe.name %><% } %>" /></label>
<label>Image : <input type="file" name="imageUrl" accept="image/png, image/jpg" value="<% if (update) { %><%= recipe.image %><% } %>"/>
  <p>Please use only "png" or "jpg" file types</p>
</label>
<label>Ingredients : <input type="text" name="ingredients" value="<% if (update) { %><%= recipe.ingredients.join(',') %><% } %>" /></label>
<label>Instructions : <input type="text" name="instructions" value="<% if (update) { %><%= recipe.instructions %><% } %>" /></label>
<label>Type of Glass : <input type="text" name="glass" value="<% if (update) { %><%= recipe.glass %><% } %>"/></label>
  <button type="submit">
    <% if (update) { %>
      Update your Recipe
    <% } else { %>
      Create new recipe
    <% } %>
  </button>
</form>