<div class="container-fluid  recipe-details-bg" >
  <div class="card row justify-content-start first-div-width pt-3 mb-5" style="width:30rem; background: rgba(255, 255, 255, 0.5); margin-top: 4rem;">
    <h1><%= recipe.name%></h1>
    <img src="<%= recipe.image %>" class="img-fluid rounded vh-50 card-img-top" alt="..." style="min-height: 50vh; object-fit: cover ;">
   <h3 class="mt-3">Ingridients</h3>
    <ul class="px-4">
        <% recipe.ingredients.forEach(ingredient => { %>
        <li><%- ingredient%></li>
        <% }) %>
      </ul>
      <h3>Instructions</h3>
      <p><%= recipe.instructions%></p>
      <% if (user.username) { %>
        <a href="/recipes/<%- recipe._id %>/update" class="btn btn-primary text-center mb-2" style="max-width: 20em; margin: auto;">Update</a>
        <a href="/recipes/<%- recipe._id %>/delete" class="btn btn-primary text-center mb-2" style="max-width: 20em; margin: auto;">Delete</a>
        <a href="/recipes/AllRecipes" class="btn btn-primary text-center mb-5" style="max-width: 20em; margin: auto;">Back to cocktails</a>
      <% } else { %>
        <a href="/recipes/AllRecipes" class="btn btn-primary">Back to cocktails</a>
      <% } %>
  </div>
</div>