<h1>Cocktail Recipes</h1>

<h1>Details</h1>
<p>page for showing one recipe</p>


<h1><%= recipe.name%></h1>
<img src="<%= recipe.image %>" class="img-fluid rounded vh-50" alt="...">
<ul>
    <% recipe.ingredients.forEach(ingredient => { %>
    <li><%- ingredient%></li>
    <% }) %>
  </ul>
  
  <p><%= recipe.instructions%></p>

  <% if (user.username) { %>
    <a href="/recipes/<%- recipe._id %>/update" class="btn btn-primary">Update</a>
    <a href="/recipes/<%- recipe._id %>/delete" class="btn btn-primary">Delete</a>
    <a href="/recipes/AllRecipes" class="btn btn-primary">Back to cocktails</a>
  <% } else { %>
    <a href="/recipes/AllRecipes" class="btn btn-primary">Back to cocktails</a>
  <% } %>